@model PublicArt.Web.Admin.ViewModels.ArtistDeleteViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron">
    <h1>Deleting @Model.Name</h1>
    <p>Are you sure you want to delete this?</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="btn-group btn-group-lg" role="group">
            @Html.ActionLink("Cancel", "Edit", new { id = Model.ArtistId }, new { @class = "btn btn-default", role = "button" })
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    }
</div>

<div class="page-header">
    <h2>@Model.Name</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="text-justify">@Model.Biography</p>
    </div>
</div>
