@model PublicArt.Web.Admin.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
