@model IEnumerable<PublicArt.Web.Admin.ViewModels.ArtistIndexViewModel>

@{
    ViewBag.Title = "Artists";
}

<div class="jumbotron">
    <h1>Artists</h1>
    <div class="btn-group" role="group">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success", role = "button" })
    </div>
</div>

<div class="row artist-row">
    @foreach (var artist in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default artist-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        @artist.Name
                        <a href="@Url.Action("Edit", new { id = artist.ArtistId})" class="pull-right" title="Edit this artist">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </h3>
                </div>
                <table class="table">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-8">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row"><small>Items</small></th>
                        <td>
                            @artist.ItemsCount
                            <a href="@Url.Action("Create", "Items", new { artistId = artist.ArtistId})" class="pull-right" title="Add new item">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(artist.WebsiteUrl))
                    {
                        <tr>
                            <th scope="row"><small>Website</small></th>
                            <td><small><a href="@artist.WebsiteUrl" title="Artist's website">@artist.WebsiteUrlShort</a></small></td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(artist.Dates))
                    {
                        <tr>
                            <th scope="row"><small>Dates</small></th>
                            <td><small>@artist.Dates</small></td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="panel-body">
                    <p class="text-justify"><em>
                            @artist.BiographyShort
                        </em>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    }
</div>