@model IEnumerable<PublicArt.DAL.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unc_path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unc_path)
        </td>
        <td>
            @Html.ActionLink("View", "View", new { id = item.stream_id }) |
            @Html.ActionLink("Delete", "Delete", new {id = item.stream_id})
        </td>
    </tr>
}

</table>
