@model PublicArt.Web.Admin.ViewModels.ItemDeleteViewModel

@{
    ViewBag.Title = Model.Reference;
}

<div class="jumbotron">
    <h1>Deleting @Model.Reference</h1>
    <p>Are you sure you want to delete this?</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="btn-group btn-group-lg" role="group">
            @Html.ActionLink("Cancel", "Edit", new {id = Model.ItemId}, new {@class = "btn btn-default", role = "button"})
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    }
</div>

<div class="page-header">
    <h2>@Model.Title</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="text-justify">@Model.Description</p>
    </div>
    @if (Model.PrimaryImage.HasValue)
    {
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="@Url.Action("Image", "ItemImages", new {id = Model.PrimaryImage})" alt="Primary image" class="img-responsive"/>
            </div>
        </div>
    }
</div>