@model PublicArt.Web.Admin.ViewModels.ItemEditViewModel

@{
    ViewBag.Title = Model.Reference;
}

<h2>Editing @Model.Reference</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
    <div class="col-md-5 col-md-push-7">
        <div class="panel panel-default collapsable">
            <div class="panel-heading" data-toggle="collapse" data-target="#imagePanelCollapse">
                <h3 class="panel-title">Item Images</h3>
            </div>
            <div id="imagePanelCollapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <colgroup>
                            <col class="col-sm-2">
                            <col class="col-sm-7">
                            <col class="col-sm-1">
                        </colgroup>
                        <tbody>
                        @Html.EditorFor(x => x.Images)
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="file" class="form-control" id="newImageFile" accept=".jpg,.jpeg"/>
                        </div>
                        <button type="button" class="btn btn-success" id="newImageUpload">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-pull-5">

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.ItemId)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnveilingYear, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnveilingYear, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.UnveilingYear, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnveilingDetails, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnveilingDetails, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.UnveilingDetails, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Statement, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Statement, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Statement, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Material, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Material, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Material, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Inscription, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inscription, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Inscription, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.History, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.History, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.History, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Notes, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WebsiteUrl, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WebsiteUrl, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WebsiteUrl, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Height, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Height, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Height, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Width, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Width, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Width, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Depth, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Depth, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Depth, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Diameter, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diameter, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Diameter, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SurfaceCondition, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurfaceCondition, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.SurfaceCondition, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StructuralCondition, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StructuralCondition, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.StructuralCondition, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control", @rows = 6}})
                    @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                @Html.Label("Location", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="leafletmap"></div>
                    <p><small>Click map to place marker. Drag marker to move. <span class="pseudolink" id="removeMapMarker">Click here to delete marker</span>.</small></p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Archived, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Archived)
                        @Html.ValidationMessageFor(model => model.Archived, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var Page = {
            init: function() {
                Page.initHandlers();
                Page.func.updatePrimaryButtons();
                Page.ele.$newImageUpload.addClass('disabled');
                Page.ele.$imageThumbLink.featherlight();
                Page.initLeaflet();
            },
            ele: {
                $ItemImagePrimary: $('.ItemImagePrimary'),
                $newImageFile: $('#newImageFile'),
                $newImageUpload: $('#newImageUpload'),
                $itemImageDelete: $('.itemImageDelete'),
                $imageThumbLink: $('.imageThumbLink'),
                $inLatitude: $('#Latitude'),
                $inLongitude: $('#Longitude'),
                $removeMapMarker: $('#removeMapMarker')
            },
            func: {
                updatePrimaryButtons: function() {
                    Page.ele.$ItemImagePrimary
                        .removeClass('btn-primary')
                        .addClass('btn-default')
                        .each(function() {
                            var $this = $(this);
                            if ($('#' + $this.data('controlid')).val() === 'True') {
                                $this.removeClass('btn-default').addClass('btn-primary');
                            }
                        });
                },
                roundToDP: function(i, d) {
                    return Math.round(i * Math.pow(10, d)) / Math.pow(10, d);
                },
                getLatLngFromInput() {
                    if (Page.ele.$inLatitude.val() && Page.ele.$inLongitude.val())
                        return [Page.ele.$inLatitude.val(), Page.ele.$inLongitude.val()];
                    return false;
                },
                setInputFromLatLng(latLng) {
                    Page.ele.$inLatitude.val(Page.func.roundToDP(latLng.lat, 6));
                    Page.ele.$inLongitude.val(Page.func.roundToDP(latLng.lng, 6));
                },
                createMarker(latLng) {
                    console.log('creating marker at:', latLng);
                    Page.marker = L.marker(latLng, { icon: L.icon({
                        iconUrl: '/Content/images/marker-icon.png',
                        shadowUrl: '/Content/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    }), draggable: true }).addTo(Page.map);
                    Page.marker.on('dragend', function(e) {
                        Page.func.setInputFromLatLng(this.getLatLng());
                    });
                },
                removeMarker() {
                    Page.map.removeLayer(Page.marker);
                    Page.ele.$inLatitude.val('');
                    Page.ele.$inLongitude.val('');
                    Page.map.addOneTimeEventListener('click', function (e) {
                        Page.func.createMarker(e.latlng);
                        Page.func.setInputFromLatLng(e.latlng);
                    });
                }
            },
            initHandlers: function() {
                Page.ele.$ItemImagePrimary.click(function() {
                    Page.ele.$ItemImagePrimary
                        .each(function() {
                            $('#' + $(this).data('controlid')).val('False');
                        });
                    $('#' + $(this)
                        .data('controlid')
                    ).val('True');
                    Page.func.updatePrimaryButtons();
                });

                Page.ele.$newImageFile.on('change', function() {
                    if (this.files.length > 0) {
                        Page.imageFile = this.files[0];
                        Page.ele.$newImageUpload.removeClass('disabled');
                    } else {
                        Page.imageFile = null;
                        Page.ele.$newImageUpload.addClass('disabled');
                    }
                });

                Page.ele.$newImageUpload.click(function() {
                    if (Page.ele.$newImageUpload.hasClass('disabled')) return false;

                    var data = new FormData();
                    data.append('file', Page.imageFile);

                    var request = $.ajax({
                            url: '@Url.Action("Upload", "ItemImages", new {itemId = Model.ItemId})',
                            type: 'POST',
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false
                        })
                        .done(function() {
                            location.reload(true);
                        })
                        .fail(function(jqXHR, textStatus, errorThrown) {
                            alert('Upload failed!');
                            console.log('failed');
                            console.log('jqXHR:', jqXHR, 'textStatus:', textStatus, 'errorThrown:', errorThrown);
                        });
                });

                Page.ele.$itemImageDelete.click(function() {
                    var $this = $(this);

                    console.log($(this).data('deleteuri'), $(this));

                    if (confirm('Are you sure you want to delete this image?')) {
                        var request = $.ajax({
                                url: $this.data('deleteuri'),
                                type: 'POST'
                            })
                            .done(function() {
                                location.reload(true);
                            })
                            .fail(function(jqXHR, textStatus, errorThrown) {
                                alert('Delete failed!');
                                console.log('failed');
                                console.log('jqXHR:', jqXHR, 'textStatus:', textStatus, 'errorThrown:', errorThrown);
                            });
                    }
                });

                Page.ele.$removeMapMarker.click(function() {
                    Page.func.removeMarker();
                });
            },
            imageFile: null,
            initLeaflet: function() {
                Page.map = L.map('leafletmap').setView([51.3712403, -2.4936262], 11);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(Page.map);

                if (Page.func.getLatLngFromInput()) {
                    Page.func.createMarker(Page.func.getLatLngFromInput());
                } else {
                    Page.map.addOneTimeEventListener('click', function (e) {
                        Page.func.createMarker(e.latlng);
                        Page.func.setInputFromLatLng(e.latlng);
                    });
                }
            },
            map: null,
            marker: null
        };

        $(document).ready(function() {
            Page.init();
        });
    </script>
}