@model IEnumerable<PublicArt.Web.Admin.ViewModels.ItemIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ItemArtists.)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ThumbnailGuid != null)
            {
                <a href="@Url.Action("Edit", new {id = item.ItemId})">
                    <img src="@Url.Action("Thumb", "Images", new {id = item.ThumbnailGuid})" alt="@item.Reference" />
                </a>
            }
            else
            {
                <p>No Image</p>
            }
        </td>
        <td>
            @Html.ActionLink(item.Reference, "Edit", new { id = item.ItemId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
    </tr>
}

</table>
