@model IEnumerable<PublicArt.Web.Admin.ViewModels.ItemIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    <span id="clearfilter" class="pseudolink">Reset table filter</span>
</p>
<table class="table table-striped table-bordered" id="ItemsTable">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ThumbnailGuid != Guid.Empty)
                {
                        <a href="@Url.Action("Edit", new {id = item.ItemId})">
                            <img src="@Url.Action("Thumb", "Images", new {id = item.ThumbnailGuid})" alt="@item.Reference" />
                        </a>
                    }
                    else
                    {
                        <p>No Image</p>
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Reference, "Edit", new { id = item.ItemId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @foreach (var artist in item.Artists)
                    {
                        @*Html.ActionLink(artist.Name, "Edit", "Artists", new {id = artist.ArtistId})*@
                        <p>
                            <em>@artist.Name</em> <small>@artist.Notes</small>
                        </p>
                    }
                </td>
                <td>
                    @foreach (var cat in item.Categories)
                    {
                        @*Html.ActionLink(cat.Value, "Index", "ItemCategories", new { CategoryId = cat.Key })*@
                        <span class="label label-default category-filter hover-pointer" data-category="@cat.Value">@cat.Value</span>
                    }
                </td>
                <td>
                    <small>@item.ModifiedDate.ToString("yyyy-MM-dd HH:mm:ss")</small>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var $ItemsTable = $('#ItemsTable').DataTable({
                "stateSave": true,
                "order": [[1, "asc"]],
                "autoWidth": true,
                "columns": [
                    { "width": "100px", "orderable": false, "searchable": false },
                    { "width": "80px" },
                    null,
                    { "orderable": false },
                    { "orderable": false },
                    { "width": "100px", "type": "date" }
                ]
            });

            $('#ItemsTable').on('click', '.category-filter', function () {
                var $this = $(this);
                console.log('Filtering', $ItemsTable, 'on', $this.data('category'));
                $ItemsTable.column([4]).search($this.data('category')).draw();
            });

            $('#clearfilter').on('click', function() {
                $ItemsTable
                    .search('')
                    .columns().search('')
                    .draw();
                console.log('Filter cleared on', $ItemsTable);
            });
        });
    </script>
}
